@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #041534;
  --color-accent: #e7c08b;
  --color-secondary: #595e6d;
  --color-surface: #f7f9fb;
  --color-error: #ba1a1a;
  --color-success: #2ecc71;
}

body {
  background-color: var(--color-surface);
  color: var(--color-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility pb-safe {
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}